* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Mobile  */
body {
    height: 100vh;
    background-image: url("./tech.jpg"); 
}

body > div {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 100px ;
   
}   

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

/*  Graphic component2,component6, gave individual links some margin. */
header > a {
    margin: 10px;
}

/* Graphic compnent2, component6, this conatins the style for the page header nav links */
header > nav {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px silver solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    font-family: Arial, Helvetica, sans-serif;
}

/*  Graphic component2, component6, style for the individual links. */
header > nav > a {
    padding: .3rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header > a {
    padding: .3rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px silver solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Text compont 1, 2, 3, Defines the text styling for all component paragraphs and <h> tags. */
p, h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 2rem;
    padding: .5rem;         
}

main > h2 {
    color: black;
    font-weight: bold;
    padding: .4rem;
}

main > img {
    max-width: 700px; 
 
}
main > a {
    border-radius: 5px;
    border: 2px silver solid;
    box-shadow: 1px 1px 1px;
    background-color: whitesmoke;
    width: 300px;
    padding: 20px;
}

main > h1 {
    color: black;
    font-weight: bold;
    padding: .3rem;
}

/*  Text component1, the main paragraph component is applied on all web pages.
    - Made the background a light color and text black for readablilty.
    - Applied Arial font-family for easy readability.
    - Box-shadow used to define the text area. 
    - Applied font-size 1.2rem for good readability */
main > p {
    padding: .3rem;
    margin: 0 .5rem .5rem;
    border: 2px silver solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    color: black;
    font-size: 1.3rem;
    background-color: whitesmoke;
}

main h3 {
    padding: 0.2rem;
    color: black;
    font-weight: bold;
}

/* Text component3, marrgin for the 5 blog articles  */
main > div {
    margin-top: 2rem;;
}
/* Text component3, style for the 5 blog articles.
    Created border with box-shadow to make the individual articles standout.
    Used the same text as the other paragraphs  */
article {
    display: flex;
    flex-wrap: wrap;
    border: 2px silver solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    color: black;
    background-color: whitesmoke;  
    margin: 0.5rem; 
}

/* Graphic component5, individual blog links are pronounsed an the article 
    using border and box-shadow */
article > a {
    display: flex;
    padding: .5rem;
    justify-content: center;
    border-radius: 5px;
    border: 2px silver solid;
    box-shadow: 1px 1px 1px;

}
/* Text component3, gave some padding and margin for positioning. */
article > p {
    padding: .5rem;
    margin: .5rem;
}
/* Graphic component5, the <a> tag wraps the <img> tag to creat a link using the image. */
a > img {
    width: 90%;
}

/* Class for blog component. */
/* Graphic component5, fine tuned the position of the text in the blog link <a> tag */
.blogs {
    width: 90%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

footer {
    display: flex;
    align-items: center;
    background-color: grey;
    opacity: .7;
}

footer > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}   

footer > nav > p {
    padding: 1rem;
}

/* Graphic component1, style for the page nav links in the footer.
   I used border and box-shadow to make the links stand out. */
footer > nav > div {
    border: 2px silver solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    margin-right: 2rem;
}

/* Graphic component1, stacked the links ontop of each other in a column. */
footer > nav >  div > a {
    display: flex;
    flex-direction: column;
    padding: .2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Graphic component 1, 2, 5 and 6, creates hover effect on the nav links */
 a:hover, .contact:hover {
    box-shadow: 2px 2px 2px silver;
    background-color: silver;
    opacity: .7;
}

/* Graphic component 1, 2, and 6, creates hover effect on the nav links that makes them jolt to catch users attention */
.link:hover  {
        border: 1px solid black;

}

.link:visited,  a:visited, .contact:visited {
    color: purple;
}

.link:active, a:active, .contact:active {
    color: red;
}


/* Tablet */
/* This will apply changes to layout if the viwewr screen is between the indicated sizes. */
@media only screen and (min-width: 481px) and (max-width: 960px) {  
    
    main > p {
        border: 2px solid black;
        padding: .5rem;
        margin: 1.5rem auto 1.5rem;  
        max-width: 90%;
    }    
   
    main > div {
        width: 90% ;
        border: 2px black solid;
        padding: .5rem;
        margin: 1.5rem auto 1.5rem;
    }

    .blogs {
        width: 90%;
    }
       
    article {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }

    article > a {
    justify-content: flex-end;
    }
}

/* Desktop */
/* This will apply changes to layout if the viwewr screen over the indicated size. */
@media only screen and (min-width: 961px) {
    
    
    main > div {
        display: flex;
        margin: 1rem;
        
    }
    main > div > article {
        flex-direction: column;
        border: 2px black solid;
        padding: .5rem;
        max-width: 300px;
    }

    main > p {
        border: 2px solid black;
        padding: .5rem;
        margin: 0 18%;
    }

    article > a  {
        flex-wrap: wrap;
    }

    .blogs {
        width: 100%;
    }

    .blogs img {
        width: 100%;
    }
} 