* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

/* Mobile  */
/* Can make the Mobile querie the default style */
body {
    height: 100vh;
    background-color: blue;
    background-image: url("./white2.jpg");
    
}

body > div {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 100px ;
   
}   

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header > a {
    /* display: flex; */
    margin: 10px;
    
}



header > nav {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header > nav > a {
    padding: .3rem;
}
main {
    height: 100%; 
    display: flex;
    flex-direction: column ;
    min-height: auto;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    margin: 2rem 2rem;
}

main > h2 {
    
    padding: .4rem;
}

main > img {
    max-width: 500px;
    
}

main > h1 {
    
    padding: .3rem;
}

main > p {
    display: flex;
    justify-content: center;
    padding: .3rem;
    margin: 0 .5rem 0 .5rem;
    max-width: 40rem;
}

main > div {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: nowrap; */
    /* width: 90%; */
    padding: 2rem ;
}

p {
    color: black;
}

main > div > p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem;
    
}

main h3 {
    padding: 0.2rem;
    color: black;
}

article {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    
}

article > a {
    display: flex;
    padding: .5rem;
    justify-content: center;
}

.blogs {
    width: 50%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    
}

article > p {
    /* color: brown; */
    padding: .5rem;
    margin: .5rem;

}

footer {
    display: flex;
    align-items: center;
    background-color: grey;
}



footer > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}   

footer > nav > img {
    padding: 1rem;
}



footer > nav >  div > a {
    display: flex;
    flex-direction: column;
    padding: .2rem 2rem;
}
.hover:hover, a:hover {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    background-color: black;
}


@media only screen and (min-width: 481px) and (max-width: 960px) {
    body {
       background-color: aqua;
    }
       
       main > p {
           border: 2px solid black;
           padding: .5rem;
           margin: 1.5rem auto 1.5rem;
           /* align-self: start; */
           max-width: 90%;
       }    
   
       main > div {flex-wrap: nowrap;
           width: 90% ;
           /* display: inline-block; */
           /* align-self: flex-start; */
           border: 2px black solid;
           padding: .5rem;
           margin: 1.5rem auto 1.5rem;
       }

       .blogs {
           width: 90%;
           flex-wrap: wrap;
           flex-direction: column-reverse;
           
       }
       
       article {
           flex-wrap: nowrap;
           flex-direction: row-reverse;
       }
   }



@media only screen and (min-width: 961px) {
    /* .blogs img {
        width: 100px;
    } */
    body {
             background-color: gold; 
        }
    main > div {
        display: flex;
        /* justify-content: center; */
        /* align-items: center; */
    }
    main > div > article {
        /* flex-wrap: nowrap; */
        flex-direction: column;
        /* width: 50% ; */
        /* align-self: flex-start; */
        border: 2px black solid;
        padding: .5rem;
        /* margin: 0 18%; */
    }

    main > h3 {

        /* margin-left: ; */
    }

    main > p {
        border: 2px solid black;
        padding: .5rem;
        margin: 0 18%;
    }

    article > a  {
        flex-wrap: wrap;
        color: crimson;
        margin: 0;

    }

    article {
        max-width: 200px;
    }

    .blogs {
        width: 100%;
    }

    .blogs img {
        width: 100%;
    }
} 