
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Mobile  */
/* Can make the Mobile querie the default style */
body {
    height: 100vh;
    background-color: blue;
   
}

body > div {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 100px ;
   
}   

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header > p {
    /* display: flex; */
    margin: 10px;
    
}

header > nav {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header > nav > a {
    padding: .3rem;
}
main {
    height: 100%; 
    display: flex;
    flex-direction: column ;
    min-height: auto;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    margin: 2rem 2rem;
}

main > h2 {
    
    padding: .4rem;
}

main > img {
    max-width: 500px;
    
}

main > h1 {
    
    padding: .3rem;
}

main > p {
    display: flex;
    justify-content: center;
    padding: .3rem;
    margin: 0 .5rem 0 .5rem;
    max-width: 40rem;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}




main > div > p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem;
}






footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    background-color: grey;
    width: 100%;
}



footer > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}   

footer > nav > img {
    padding: 1rem;
}


footer > nav > div {
    /* margin: 40px 10px 0 10px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
   padding: .5rem 3rem;
}

footer > nav >  div > a {
    padding: .2rem;
    /* margin: .5rem; */
}

.hover:hover, a:hover {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    background-color: cornsilk;
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    body {
       background-color: aqua;
    }
       
       main > p {
           border: 2px solid black;
           padding: .5rem;
           margin: 1.5rem auto 1.5rem;
           align-self: start;
           max-width: 90%;
       }    
 
       main > div {flex-wrap: nowrap;
           width: 90% ;
           align-self: flex-start;
           border: 2px black solid;
           padding: .5rem;
           margin: 1.5rem auto 1.5rem;
       }
}
   
   
   
   
   
   /*Desktop */
@media only screen and (min-width: 961px) {
       body {
                background-color: gold; 
           }
       main {
           /* display: grid; */
       }
       main > div {
           flex-wrap: nowrap;
           width: 50% ;
           align-self: flex-start;
           border: 2px black solid;
           padding: .5rem;
           margin: 1.5rem 18%;
       }
   
       main > p {
           border: 2px solid black;
           padding: .5rem;
           margin: 0 18%;
           align-self: start;
           max-width: 100%;
       }
       
   }
