* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Mobile  */
/* Can make the Mobile querie the default style */
body {
    height: 100vh;
    background-color: blue;
   
}

body > div {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 100px ;
   
}   

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header > p {
    /* display: flex; */
    margin: 10px;
    
}

header > nav {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header > nav > a {
    padding: .3rem;
}
main {
    height: 100%; 
    display: flex;
    flex-direction: column ;
    min-height: auto;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding: 2rem 2rem;
}

main > h2 {
    
    padding: .4rem;
}

main > img {
    max-width: 500px;
    
}

main > h1 {
    
    padding: .3rem;
}

main > p {
    display: flex;
    justify-content: center;
    padding: .3rem;
    margin: 0 .5rem 0 .5rem;
    max-width: 40rem;
}


main >  h3 {
    color: red;
}

#resume {
    width: 100px;
}

main > div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;

}

main > div > p {
    padding: 0.5rem;
}

main h3 {
    margin-top: 1rem;
}



footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    background-color: grey;
    width: 100%;
}



footer > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}   

footer > nav > img {
    padding: 1rem;
}


footer > nav > div {
    /* margin: 40px 10px 0 10px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
   padding: .5rem 3rem;
}

footer > nav >  div > a {
    padding: .2rem;
    /* margin: .5rem; */
}
