
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*  Mobile first design. */
body {
    height: 100vh;
    background-image: url("./tech.jpeg"); 
}
body > div {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 100px ;
}   


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}

/*  Graphic component2, gave individual links some margin. */
header > a {
    margin: 10px;
}

/* Graphic compnent2, this conatins the style for the page header nav links */
header > nav {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px silver solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    font-family: Arial, Helvetica, sans-serif;
}

/*  Graphic component2, style for the individual links. */
header > nav > a {
    padding: .3rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
  
}

/* Text compont 1, 2, Defines the text styling for all component paragraphs and <h> tags. */
p, h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 2rem;
    padding: .5rem;         
}

main > h2 {
    color: black;
    font-weight: bold;
    padding: .4rem;
}

main > img {
    max-width: 900px;
}

main > h1 {
    color: black;
    font-weight: bold;
    padding: .3rem;
}
/*  Text component1, the main paragraph component is applied on all web pages.
    - Made the background a light color and text black for readablilty.
    - Applied Arial font-family for easy readability.
    - Box-shadow used to define the text area. 
    - Applied font-size 1.2rem for good readability */
    main > p {
    padding: .3rem;
    margin: 0 .5rem 0 .5rem;
    border: 2px silver solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    color: black;
    background-color: whitesmoke;
}

footer {
    display: flex;
    align-items: center;
    background-color: grey;
    opacity: .7;
}

/*  Graphic component1, style for positioning the links within the footer */
footer > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}   


footer > nav > p {
    padding: 1rem;
}

/* Graphic component1, style for the page nav links in the footer.
   I used border and box-shadow to make the links stand out. */
footer > nav > div {
    border: 2px silver solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    margin-right: 2rem;
}

/* Graphic component1, stood the individual links in a column. */
footer > nav >  div > a {
    display: flex;
    flex-direction: column;
    padding: .2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Graphic component 1 and 2, creates hover effect on the nav links */
 a:hover, .contact:hover {
    border: 1px solid black;
    box-shadow: 2px 2px 2px silver;
    background-color: silver;
    opacity: .7;
}

/* Graphic component 1 and 2, creates hover effect on the nav links that makes them jolt to catch users attention*/
.link:hover {
    border: 1px solid black;

}

.link:visited,  a:visited, .contact:visited {
    color: purple;
}

.link:active, a:active, .contact:active {
    color: red;
}


/* Tablet */
/* This will apply changes to layout if the viewer screen is between the indicated sizes. */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    
    main > p {
           margin: 1.5rem auto 1.5rem;
           max-width: 90%;
    }        
}
   
   

/*Desktop */
/* This will apply changes to layout if the viewer screen is over the indicated size. */
@media only screen and (min-width: 961px) {
       
    main > p {
           padding: .5rem;
           margin: 0 18%;
    }
}

