/* :root { */
    /* --base-height: 300px; */
 /* ---primary-color:  ; */
/* } */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Mobile  */
/* Can make the Mobile querie the default style */
body {
    height: 100vh;
    background-color: blue;
   
}

body > div {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 100px ;
   
}   

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header > p {
    margin: 10px;
    
}

header > nav {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header > nav > a {
    padding: .3rem;
}
main {
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin-top: 2rem;
    padding: .5rem;
          
}

main > h2 {
    
    padding: .4rem;
}

main > img {
    max-width: 500px;
    
}

main > h1 {
    
    padding: .3rem;
}

main > p {
    display: flex;
    justify-content: center;
    padding: .3rem;
    margin: 0 .5rem 0 .5rem;
    border: 2px black solid;
}


footer {
    display: flex;
    align-items: center;
    background-color: grey;
}



footer > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}   

footer > nav > img {
    padding: 1rem;
}



footer > nav >  div > a {
    display: flex;
    flex-direction: column;
    padding: .2rem 2rem;
}

.hover:hover, a:hover {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    background-color: cornsilk;
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    body {
       background-color: aqua;
    }
       
       main > p {
           margin: 1.5rem auto 1.5rem;
           max-width: 90%;
       }    
 
      
}
   
   
   
   
   
   /*Desktop */
@media only screen and (min-width: 961px) {
       body {
                background-color: gold; 
           }
      
       
   
       main > p {
           padding: .5rem;
           margin: 0 18%;
       }
       
   }

/* 
/* Tablet */
/* @media only screen and (min-width: 481px) and (max-width: 960px) { */
/* body {
    background-color: aqua;
    }
} */

/* Desktop */
/* @media only screen and (min-width: 961px) {
body {
    /* background-color: gold; */
    /* } */
/* }  */
/* 
article {
    display: flex;
    flex-wrap: wrap;
}

nav, header, main, section {
    width: 100%;
    height: var(--base-height);
    display: flex;
    justify-content: center; 
    align-items: center;
  
}

nav {
    background-color: #5995Da;
    height: 80px;

}

header {
    background-color: #b2d6ff;
/* } */



/* #signup { 
    background-color: #d6e9fe;
    
   
}

#feature1 {
    background-color: #f5cf8e;
}

#feature2 {
    background-color: #f09a9d;
}

#feature3 {
    background-color: #c8c6fa;
}

/* Tablet */
/* @media only screen and (min-width: 481px) and (max-width: 960px) {
    #signup, .feature {
        width: calc(100% / 3); */

    /* } */

/* } */

/* Desktop */
/* @media only screen and (min-width: 961px) {
    article {
        width: 1080px;
        margin: 0 auto;
    }
    header {
        height: 400px;

    }
    .feature {
        height: 600px;
        width: 33.3%;
    }
    main {
        order: 3; */
    /* } */
    /* #signup {
        order: 2;
        width: 100%;
    /* } */
    /* #feature2 {
        order: 1; */ 
       
/* }  */